#observablehq-center{width: 100em; margin:0px}

#settings::part(header) {border: solid 2px rgba(213, 219, 255, 1);
     background-color: rgba(213, 219, 255, 0.1);
    }


.quote{font-size: 1.1rem;}
.quote::first-line{font-weight:bolder}

.tag{
    padding:.2em .4em; 
    margin-right:.2em;
    border-radius: .5em;
}

#newbie-info{    
    background-color:#ffffffee;
    position:absolute;
    padding:2em;
    z-index:100;
    width:50%;
    height:75vh
}


.navigate_measures{
    display: grid;
    grid-template-columns: 10% 50% 10%;
    text-align: center;
    align-content: space-between;
    justify-content: space-around;   
    }

.container-description{
display: grid;
grid-template-columns: 100%;
}

.measure{font-style: italic;}

.brief{font-size: .8rem; margin-top: 2em;}
.cluster{font-weight: bolder;}

div.navigate_measures button{
    font-size: large;
    vertical-align: middle;
    height: 2rem; 
    width: 5rem;
    border-radius: 5px;
}


#badge_container {
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    padding: .5em;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 3px lightgrey;  
}

.clickable_row {cursor: pointer;}

.star{color: #f59e0b}


.card_measure [slot='footer'] {
        display: flex;
    justify-content: space-between;
    align-items: right;
}

.card_measure [slot='header'] {
    display: flex;
justify-content: space-between;
align-items: center;
}